<nav class="content-task">
	<ul>
		<li class="tasks"  ng-repeat="task in vm.tasks | limitTo:vm.limit track by $index" >
			<button type="submit" id="select" title="Tarea Realizada" ng-click="vm.changeState(task.$id)"></button>
			<div ng-click="vm.goEdit(task.$id)" title="Click Para Editar">{{task.title}}
				<div id="down-triangle"></div>
				<!--<div id="tooltip">Realizada</div>-->
			</div>
			<p>{{task.description}}</p>
			<p>{{task.date | date}}</p>
			<p>{{task.state}}</p>
		</li>
	</ul>
	<div class="center-align" ng-if="vm.tasks.length>9 && vm.tasks.length>vm.limit">
		<a class="upload" ng-click="vm.increaseTaskNumber(6)">Cargar mas</a>
	</div>
</nav>