<div class="container-create">
    <div class="create-form">
        <h1><strong>Nueva Tarea</strong></h1>
        <form name="create-form">
            <input type="text" ng-model="vm.newTask.title" id="title" placeholder="Titulo" autofocus>
            <div><span ng-show="create-form.title.$touched && create-form.title.$invalid">The title is required.</span></div>

            <input ng-model="vm.newTask.description" type="text" id="description" placeholder="Descripcion">
            <div  class="datePicker">
                <p>Fecha de Terminación</p>
                <input type="date" name="fecha" ng-model="vm.newTask.date">
                <!--<md-datepicker ng-model="vm.myDate" ></md-datepicker>-->
            </div>
            <div>
                <button type="submit" ng-disabled="create-form.$invalid" ng-click="vm.addTask(vm.newTask)" id="nTask">
                    <strong>Crear</strong></button>
            </div>
        </form>
    </div>
</div>
<!--ng-keyup="vm.searchEnter()"-->