<div class="home-header">
    <div class="logo">
        <span>Keep Pragma</span>
        <!--<input type="text" id="search" placeholder="Buscar Tarea" ng-change="vm.saveSearch()" ng-model="vm.searchText"/>-->
        <a  id="logout" ng-click="vm.logout()">Cerrar Sesion</a>        
    </div>
</div>
<div class="side-nav">
    <nav class="nav">
        <div id="user">{{vm.user}}</div>
        <ul>
            <li><a ui-sref=".allTask">Tareas</a></li>
            <li><a ui-sref=".completTask">Tareas Realizadas</a></li>
            <li><a ui-sref=".pendingTask">Tareas Pendientes</a></li>
        </ul>
    </nav>
</div>
<div class="main-content">
    <div ui-view></div>
</div>
<div class="home-btn">
    <button type="submit" ui-sref=".createTask" id="newTask">+</button>
</div>